<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Optech - IT Solution & Technology Theme</title>

  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <!--- End favicon-->

  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&amp;display=swap" rel="stylesheet">
  <!-- End google font  -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/remixicon.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/app.min.css">
</head>

<body>



  
  
  <div class="optech-header-search-section">
    <div class="container">
      <div class="optech-header-search-box">
        <input type="search" placeholder="Search here...">
        <button id="header-search" type="button"><i class="ri-search-line"></i></button>
        <p>Type above and press Enter to search. Press Close to cancel.</p>
      </div>
    </div>
    <div class="optech-header-search-close">
      <i class="ri-close-line"></i>
    </div>
  </div>
  <div class="search-overlay"></div>
  <div class="optech-errors-section">
    <div class="container">
      <div class="optech-errors-content">
        <img src="assets/images/breadcrumb/errors404.svg" alt="">
        <h2>Oops, this page is not found</h2>
        <p>The page you’re looking for can’t be found. Double-check the URL and try again. we invite you to visit our homepage.</p>
        <div class="optech-extra-mt" data-aos="fade-up" data-aos-duration="800">
          <a class='optech-default-btn optech-light-btn' data-text='Ask Any Question' href='index.html'> <span class="btn-wraper">Back to Homepage</span> </a>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.7.1.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/menu/menu.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/slick.js"></script>
  <script src="assets/js/countdown.js"></script>
  <script src="assets/js/skillbar.js"></script>
  <script src="assets/js/slick-animation.js"></script>
  <script src="assets/js/slick-animation.min.js"></script>
  <script src="assets/js/faq.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/tabs-slider.js"></script>
  <script src="assets/js/product-increment.js"></script>
  <script src="assets/js/top-to-bottom.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyArZVfNvjnLNwJZlLJKuOiWHZ6vtQzzb1Y"></script>

  <script src="assets/js/app.js"></script>


</body>

</html>